# For testing Dependency loaders
openwisp_controller @ file:///home/spanidea-lt22/Desktop/NOKIA/communications/openwisp-controller
# openwisp_controller @ https://github.com/openwisp/openwisp-controller/tarball/master

freezegun
